BasedOnStyle: LLVM                                          # LLVM, Google, Chromium, Mozilla, WebKit
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false                     # None(false), Inline, All(true)
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: true
BreakBeforeBinaryOperators: NonAssignment                   # None, NonAssignment, All
BreakBeforeBraces: Custom                                   # Attach, Linux, Stroustrup, Allman, GNU
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyNamespace: true
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
# CommentPragmas
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
# ForEachMacros
IncludeBlocks: Preserve
#IncludeCategories:
#    - Regex: '^c?std.*'
#      Priority: 1
#    - Regex: '^obs'
#      Priority: 2
#    - Regex: '^(include/)?cef.*'
#      Priority: 3
#    - Regex: '.h$'
#      Priority: 4
#    - Regex: '.hpp$'
#      Priority: 5
IndentCaseLabels: false
# IndentPPDirectives: false
IndentWidth: 4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp                                               # None, Cpp, JavaScript, Proto
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner                                 # None, Inner, All
# ObjCSpaceAfterProperty
# ObjCSpaceBeforeProtocolList
#// PenaltyBreakBeforeFirstCallParameter
#// PenaltyBreakComment
#// PenaltyBreakFirstLessLess
#// PenaltyBreakString
#// PenaltyExcessCharacter
#// PenaltyReturnTypeOnItsOwnLine:
PointerAlignment: Left                                      # Left, Right, Middle
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements                        # Never, ControlStatements, Always
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11                                             # Cpp03, Cpp11, Auto
TabWidth: 4
UseTab: ForIndentation                                      # Never(false), ForIndentation, Always(true)
